* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: 4px solid green;
  border-radius: 30px;
  padding: 10px;
  font-size: 24px;
  color: green;
}


.inpute-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

  
#datetime-picker {
  text-align: center;
  border: 4px solid green;
  border-radius: 30px;
  padding: 10px;
  font-size: 24px;
  color: green;
  margin-right: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid tomato;
  border-radius: 5px;
  padding: 20;
  background-color: antiquewhite;
}

.field:not(:last-child) {
  display: flex;
  margin-right: 15px;
}
.label {
  font-size: 20px;
  color: red;
}
  
.value {
  font-size: 20px;
  font-weight: 700;
}
.form {
  display: flex;
  justify-content: center;
  align-items: end;
}

.form-wrapper {
  margin-right: 20px;
}

.form-input {
  border: 4px solid green;
  border-radius: 30px;
  padding: 10px;
  font-size: 24px;
  color: green;
}

.form-label {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-label-text {
  font-size: 24px;
  color: green;
  margin-bottom: 30px;
}

.form-btn {
  display: flex;
  align-self: end;
  justify-content: end;
}